@-webkit-keyframes hero-glow {
  0% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes hero-glow {
  0% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
@-webkit-keyframes button-glow {
  0% {
    box-shadow: 0 0 0px rgba(252, 106, 73, 0.8), 0 0 5px rgba(252, 106, 73, 0.7), 0 0 10px rgba(252, 106, 73, 0.6);
  }
  100% {
    box-shadow: 0 0 15px rgba(252, 106, 73, 0.8), 0 0 25px rgba(252, 106, 73, 0.7), 0 0 35px rgba(252, 106, 73, 0.6);
  }
}
@keyframes button-glow {
  0% {
    box-shadow: 0 0 0px rgba(252, 106, 73, 0.8), 0 0 5px rgba(252, 106, 73, 0.7), 0 0 10px rgba(252, 106, 73, 0.6);
  }
  100% {
    box-shadow: 0 0 15px rgba(252, 106, 73, 0.8), 0 0 25px rgba(252, 106, 73, 0.7), 0 0 35px rgba(252, 106, 73, 0.6);
  }
}
@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes projectClickable {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}
@keyframes projectClickable {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  position: relative;
}

.max-width-limit {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100vw;
  margin: 0 auto 2rem auto;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0rem 2rem 0 2rem;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-blend-mode: color;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
}
header::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 110vw;
  margin-left: -40px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.slider {
  display: none;
  transition: all 0.2s ease-in-out;
}

.active {
  transform: translateX(0%) !important;
}

.marker {
  position: absolute;
  border-bottom: solid 2px #ffffff;
  transform: translateY(23px);
  transition: all 0.4s ease-in-out;
}

.nav-menu {
  height: 10vh;
  min-height: 80px;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}
.nav-menu .header-logo {
  max-width: 60px;
  max-height: 65px;
  transform: translateX(-10px);
  padding-top: 0.3rem;
}
.nav-menu .nav-list {
  list-style: none;
  position: relative;
}
.nav-menu .nav-list li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.nav-menu .nav-list a {
  text-decoration: none;
  color: #eeeeee;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hero .background-image {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url("../images/background-edited.png");
  background-size: cover;
  background-position: center;
}
.hero .background-image:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: hero-glow 3s ease-in-out infinite alternate;
          animation: hero-glow 3s ease-in-out infinite alternate;
}

.hero-text {
  color: #eeeeee;
  position: relative;
  padding-bottom: 60px;
}
.hero-text h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-text h2 {
  text-transform: uppercase;
  font: size 3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}
.hero-text .changing-text {
  content: "";
  text-align: center;
  text-transform: uppercase;
  color: #fc6a49;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-text .changing-text::after {
  opacity: 1;
  content: "";
  width: 1px;
  transform: translateY(5px);
  position: absolute;
  height: 2rem;
  border-right: solid 1px white;
  -webkit-animation: blinking 0.8s infinite alternate step-end;
          animation: blinking 0.8s infinite alternate step-end;
}

.about {
  background: #000000;
  padding-top: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container .about-content {
  width: 50%;
  background-blend-mode: darken;
}
.about-container .about-content .cv-button {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem;
  outline: none;
  background-color: #000000;
  color: #fc6a49;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 5px;
}
.about-container .about-content .cv-button:hover {
  color: #ffffff;
  background: #fc6a49;
  box-shadow: 0 0 10px rgba(252, 106, 73, 0.8), 0 0 20px rgba(252, 106, 73, 0.7), 0 0 40px rgba(252, 106, 73, 0.6);
  transition-delay: 1s;
}
.about-container .about-content .cv-button span {
  position: absolute;
  display: block;
}
.about-container .about-content .cv-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, red);
}
.about-container .about-content .cv-button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.about-container .about-content .cv-button span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, red);
}
.about-container .about-content .cv-button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
}
.about-container .about-content h2 {
  display: inline;
  color: #dadada;
  font-weight: 400;
  font-size: 2.2rem;
  border-bottom: solid 3px #b6a9a9;
}
.about-container .about-content p {
  margin-top: 1.2rem;
  color: #948a8a;
  width: 90%;
  margin-right: auto;
  font-size: 1.2rem;
}
.about-container .image-profile {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: center;
}
.about-container .profile-pic {
  border-radius: 2px;
  width: 65%;
  max-width: 350px;
  max-height: 331px;
}

.skills {
  padding: 2rem;
  background: #323232;
}

.skills-title {
  color: #dadada;
  font-size: 2.2rem;
  font-weight: 500;
  border-bottom: solid 3px #b6a9a9;
  display: inline;
}

.skill-icon-container {
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  row-gap: 2.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.skill-icon-container img {
  width: 70%;
  max-width: 100px;
  max-height: 100px;
  transition: 0.2s;
}
.skill-icon-container img:hover {
  transform: scale(1.1);
}

.portfolio {
  background: #323232;
  padding: 3rem 2rem;
}

.project-heading {
  display: inline-block;
  color: #dadada;
  font-weight: 400;
  font-size: 2.2rem;
  border-bottom: solid 3px #dadada;
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  margin-bottom: 1.5rem;
}
.project-card h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0.35rem;
}
.project-card .project-image {
  max-width: 350px;
  width: 300px;
  height: 250px;
  border-radius: 2px 15px 2px 15px;
  position: relative;
  overflow: hidden;
}
.project-card .project-image .card-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 2px 15px 2px 15px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.project-card .project-image .card-overlay .overlay-text {
  position: absolute;
  width: 100%;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.project-card .project-image .card-overlay .overlay-text h4 {
  color: #dadada;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: solid 2px #dadada;
  font-size: 120%;
  margin-bottom: 0.5em;
  pointer-events: none;
}
.project-card .project-image .card-overlay .overlay-text p {
  pointer-events: none;
  color: #ffffff;
}
.project-card .project-image .card-overlay .overlay-text p span {
  color: #fc6a49;
}
.project-card .project-image .card-overlay .overlay-text .project-icons a {
  pointer-events: none;
}
.project-card .project-image .card-overlay .overlay-text .project-icons img {
  padding: 5px;
  border-radius: 10px;
  width: 10vw;
  max-width: 50px;
  min-width: 20px;
  margin-top: 10px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.project-card .project-image .card-overlay .overlay-text .project-icons img:hover {
  background-color: rgba(255, 255, 255, 0.09);
}
.project-card .project-image .card-overlay:hover {
  opacity: 1;
}
.project-card .project-image .card-overlay:hover .project-icons a {
  -webkit-animation: projectClickable 0.1s linear forwards;
          animation: projectClickable 0.1s linear forwards;
}
.project-card .success-by-design {
  background: url("../images/project-images/sucess-by-design.png");
  background-size: cover;
  background-position: center;
}
.project-card .huddle {
  background: url("../images/project-images/huddle-landing.png");
  background-size: cover;
  background-position: center;
}
.project-card .fancy-login {
  background: url("../images/project-images/fancy-login.png");
  background-size: cover;
  background-position: center;
}
.project-card .simon-says {
  background: url("../images/project-images/simon-says.png");
  background-size: cover;
  background-position: center;
}
.project-card .portfolio-v1 {
  background: url("../images/project-images/portfolio-v1.png");
  background-size: cover;
  background-position: center;
}
.project-card .fullpage-js {
  background: url("../images/project-images/fullpage-js.png");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #000000;
  padding: 0 2rem;
}

.footer-menu {
  padding: 2rem 0;
}

.footer-list {
  list-style: none;
}
.footer-list li {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
}
.footer-list li a {
  text-decoration: none;
  color: #ffffff;
}
.footer-list li:first-child {
  margin-left: 0;
}

.copyright {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact {
  padding: 2rem;
  background-color: #000000;
}
.contact h3 {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 500;
  border-bottom: solid 3px #ffffff;
  margin-bottom: 2rem;
  display: inline-block;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
  margin: 0 auto;
  justify-content: space-around;
}

.contact-image img {
  width: 90px;
  margin: 2rem;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.05s linear;
}
.contact-image img:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #fc6a49;
  margin: 7px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 8px);
  transition: all 0.3s ease;
}

.toggle .line2 {
  opacity: 0;
  transition: all 0.3s ease;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
  transition: all 0.3s ease;
}

.nav-item, .slider-item {
  cursor: pointer;
}

.footer-list li {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #323232;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#fc6a49, orange, #fc6a49);
  border-radius: 10px;
}

@media only screen and (max-width: 780px) {
  .hero-text {
    padding-bottom: 100px;
  }
  .hero-text h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .hero-text .hero-content {
    margin-bottom: 1rem;
  }
  .hero-text .changing-text {
    padding: 0 0.5rem;
  }

  .skill-icon-container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 15vw));
    row-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .skill-icon-container img {
    width: 30vw;
    max-width: 70px;
    max-height: 70px;
    margin: 0.5rem;
  }

  .about-container {
    flex-direction: column-reverse;
  }
  .about-container .about-content {
    width: 100%;
    text-align: center;
  }
  .about-container .about-content p {
    margin: 1rem auto 0 auto;
  }
  .about-container .about-content .cv-button {
    color: #ffffff;
    background: rgba(252, 106, 73, 0.8);
    -webkit-animation: button-glow 2s infinite alternate linear;
            animation: button-glow 2s infinite alternate linear;
    transition-delay: 0;
  }

  .about {
    padding-top: 3.5rem;
  }

  .image-profile {
    margin-bottom: 2rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 40vw));
    gap: 1rem;
    justify-content: space-around;
  }
  .projects .project-card h3 {
    font-size: 100%;
  }
  .projects .project-image {
    width: 100%;
    max-width: 40vw;
    height: 40vw;
    min-width: 80px;
    min-height: 60px;
    margin: 0 auto;
  }
  .projects .project-image .card-overlay .overlay-text h4 {
    font-size: 100%;
  }
  .projects .project-image .card-overlay .overlay-text p {
    font-size: 90%;
  }
  .projects .project-image .card-overlay .overlay-text .project-icons img {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .contact {
    padding: 2rem 2rem 1rem 2rem;
  }

  .contact-image img {
    margin: 1rem;
  }

  .nav-menu .nav-list {
    display: none;
  }
  .nav-menu .nav-list .marker {
    display: none;
  }

  .burger {
    display: block;
    z-index: 999;
  }

  .slider {
    z-index: 999;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    min-width: 160px;
    height: 90vh;
    top: 80px;
    right: 0%;
    transform: translateX(100%);
    background-blend-mode: darken;
    background-blend-mode: color;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .slider .slider-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  .slider .slider-menu li {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .slider .slider-menu li a {
    text-decoration: none;
    color: #fc6a49;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
  }
  .slider .slider-menu li:first-child {
    margin-top: 3rem;
  }

  header {
    background-color: rgba(0, 0, 0, 0.4);
  }
  header::after {
    background: none;
  }

  .footer-menu .footer-list {
    width: 100%;
    margin: 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .footer-menu .copyright {
    text-align: center;
    margin-left: 0;
  }
}
@media only screen and (orientation: landscape) and (max-width: 780px) {
  .slider-menu li {
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
  }
  .slider-menu li a {
    text-decoration: none;
    color: #fc6a49;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
  }
  .slider-menu li:first-child {
    margin-top: 0.5rem !important;
  }
}
@media only screen and (max-width: 520px) {
  .about-container .image-profile {
    width: 50vw;
    min-width: 200px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 40vw));
    gap: 1rem;
    justify-content: space-around;
  }
  .projects .project-card h3 {
    text-align: center;
    font-size: 70%;
  }
  .projects .project-image {
    width: 100%;
    max-width: 40vw;
    height: 40vw;
    min-width: 50px;
    min-height: 40px;
    margin: 0 auto;
  }

  .contact-list {
    width: 100%;
  }

  .contact-image img {
    margin: 0.5rem;
    width: 70px;
  }

  .projects .project-card .project-image .card-overlay .overlay-text h4 {
    font-size: 90%;
  }
  .projects .project-card .project-image .card-overlay .overlay-text p {
    font-size: 70%;
  }

  .footer-menu {
    padding: 0 0 2rem 0;
  }
  .footer-menu .footer-list {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-menu .footer-list li {
    margin: 0.22rem 0.22rem;
  }
}
@media only screen and (max-width: 375px) {
  .projects .project-card .project-image .card-overlay .overlay-text h4 {
    display: none;
  }
  .projects .project-card .project-image .card-overlay .overlay-text p {
    font-size: 70%;
  }
}