




@media only screen and (max-width:520px) {

    .about-container {
        .image-profile {
            width: 50vw;
            min-width:200px;
        }
    }


    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 40vw));
        gap: 1rem;
        justify-content: space-around;

        .project-card {
            h3 {
                text-align:center;
                font-size: 70%;
            }
        }


        .project-image {
            width: 100%;
            max-width: 40vw;
            height: 40vw;
            min-width: 50px;
            min-height: 40px;
            margin: 0 auto;

        }
    }

    .contact-list {
        width:100%;
    }

     .contact-image {
         img {
             margin: 0.5rem;
             width:70px;
         }
     }




     //Projects
     .projects {
         .project-card {
             .project-image {
                .card-overlay {
                    .overlay-text {

                        h4 {
                           font-size:90%;
                        }

                        p {
                            font-size:70%;
                        }

                    }
                }
             }
         }
     }



     //Footer
     .footer-menu {

        padding: 0 0 2rem 0;
         .footer-list {
             margin: 0 0.5rem;
             display: flex;
             justify-content: center;
             flex-wrap: wrap;

             li {
                 margin:0.22rem 0.22rem ;
             }
         }
     }
}