


$black : #141414;
$dark-grey : #323232;
$grey: #D6D1D2;
$vermillion: #E6502F;
$titles: rgb(182, 169, 169);



// 4 color palette
// $black : #212121;
// $dark-grey : #323232;
// $sea-blue: #0d7377;
// $sey-blue : #14ffec;