

@media only screen and (max-width:780px) {


    //Hero
    .hero-text {
        h1 {
            font-size: 3rem;
            text-align:center;
            line-height:100%;
            margin-bottom:10px;
        }
    }


    //Skills

    .skill-icon-container {
        grid-template-columns: repeat(auto-fill, minmax(70px, 15vw));
        row-gap:30px;
        column-gap:30px;

        img {
            width:30vw;
            max-width:70px;
            max-height:70px;
            margin:0.5rem;
        }
    }


//About
    .about-container {
        flex-direction:column-reverse;

        .about-content {
            width: 100%;
            text-align:center;

            p {
                margin:1rem auto 0 auto;
                
            }
        }
    }

    .about {
        padding-top:3.5rem;
    }

    .image-profile {
        margin-bottom:2rem;
        
    }



    //Projects

    .projects {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 40vw));
        gap:1rem;
        justify-content:space-around;

        .project-card {
            h3 {
                font-size:100%;
            }
        }
        

        .project-image {
            width:100%;
            max-width:40vw;
            height:40vw;
            min-width:80px;
            min-height:60px;
            margin:0 auto;


            .card-overlay {
                .overlay-text {
                
                    h4 {
                        font-size:100%;
                    }

                    p {
                        font-size:90%;
                    }

                    .project-icons {
                        img {
                            margin-left:0.2rem;
                            margin-right:0.2rem
                        }
                    }
                }
            }
        }


    }




    //contact
    .contact-image{
        img {
            margin:1rem;
        }
    }

    
   




}


@media only screen and (max-width:520px) {

    .about-container {
        .image-profile {
            width: 50vw;
            min-width:200px;
        }
    }


    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 40vw));
        gap: 1rem;
        justify-content: space-around;

        .project-card {
            h3 {
                text-align:center;
                font-size: 70%;
            }
        }


        .project-image {
            width: 100%;
            max-width: 40vw;
            height: 40vw;
            min-width: 50px;
            min-height: 40px;
            margin: 0 auto;

        }
    }

    .contact-list {
        width:100%;
    }

     .contact-image {
         img {
             margin: 0.5rem;
             width:50px;
         }
     }




     //Projects
     .projects {
         .project-card {
             .project-image {
                .card-overlay {
                    .overlay-text {

                        h4 {
                           font-size:90%;
                        }

                        p {
                            font-size:70%;
                        }

                    }
                }
             }
         }
     }
}


@media only screen and (max-width: 375px) {
    .projects {
        .project-card {
            .project-image {
                .card-overlay {
                    .overlay-text {

                        h4 {
                            display:none;
                        }

                        p {
                            font-size: 70%;
                        }

                    }
                }
            }
        }
    }
}




header {
    display:none
}

