.success-by-design {

    background: url("../images/project-images/sucess-by-design.png");
    background-size: cover;
    background-position: center;
}

.huddle {
    background: url("../images/project-images/huddle-landing.png");
    background-size: cover;
    background-position: center;
}

.fancy-login {
    background: url("../images/project-images/fancy-login.png");
    background-size: cover;
    background-position: center;
}

.simon-says {
    background: url("../images/project-images/simon-says.png");
    background-size: cover;
    background-position: center;
}

.portfolio-v1 {
    background: url("../images/project-images/portfolio-v1.png");
    background-size: cover;
    background-position: center;
}

.fullpage-js {
    background: url("../images/project-images/fullpage-js.png");
    background-size: cover;
    background-position: center;
}

.nature-tours {
    background: url("../images/project-images/nature-tours.png");
    background-size: cover;
    background-position: center;
}

.clouds {
    background: url("../images/project-images/clouds.png");
    background-size: cover;
    background-position: center;
}

.caching-landing {
    background: url("../images/project-images/caching.png");
    background-size: cover;
    background-position: center;
}